@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Timeline";
}



@using Syncfusion.EJ2
<h1>@ViewData["Title"]</h1>
<label>There are @ViewBag.Owners.Count Queues at the moment</label>

<div>
    <ejs-schedule id="schedule" height=500 views="@ViewBag.view" selectedDate="new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day)">
        <!-- Set the Hour and Date Rows  -->
        <e-schedule-header-rows>
            <e-schedule-header-row option="Date"></e-schedule-header-row>
            <e-schedule-header-row option="Hour"></e-schedule-header-row>
        </e-schedule-header-rows>

        <!-- Set the Timeline View -->
        <e-schedule-views>
            <e-schedule-view option="TimelineWeek" ></e-schedule-view>
        </e-schedule-views>

        <!-- Set the Resources for Different Queues -->
        <e-schedule-group resources="@ViewBag.Resources"></e-schedule-group>
        <e-schedule-resources id="scheduleresources">
            <e-schedule-resource  dataSource="@ViewBag.Owners" field="OwnerId" title="Owners" name="Owners" textField="Text" idField="Id" colorField="Color"></e-schedule-resource>
        </e-schedule-resources>

        <!-- Insert Existing Parts in Process -->
        <e-schedule-eventsettings dataSource="@ViewBag.datasource"></e-schedule-eventsettings>
    </ejs-schedule>

    <ejs-button id="button" onclick="addQueue()" numberOfQueues="@ViewBag.Owners.Count" content="Add Queue"></ejs-button>
    <ejs-button id="button1" onclick="removeQueue()" content="Remove Queue"></ejs-button>
</div>


<script type="text/javascript">
    function removeQueue() {
        var scheduleObj = document.getElementById('schedule').ej2_instances[0];
        scheduleObj.removeResource(1,'Owners');

        var scheduleResources = document.getElementById('scheduleresources');
        console.log(scheduleResources);
    }

    function addQueue() {
        var scheduleObj = document.getElementById('schedule').ej2_instances[0];

        let numberofQueues = event.target.getAttribute('numberOfQueues');
        //ownerData.Add(new OwnerModel { Id = 3, Text = "Cutting Edge 3", Color = "#7499e1" });
        var collection = [
            {Id: 4, Text: `Cutting Edge ${numberofQueues}`, Color: "#7499e1"}
        ]
        // addResource(resource object, resource name, index)
        console.log(numberofQueues);
        scheduleObj.addResource(collection[0],'Owners', numberofQueues);
    }
</script>